@import 'astria-colors';

.button {
  // Shape modifiers
  &.is-square {
    border-radius: 0;
  }

  &.is-rounded-hover {
    border-radius: 24px;
    border: 1px solid transparent;

    &:hover,
    &.is-hovered {
      border-color: $astria-grey-dark;
    }
  }

  // Gradient modifiers
  &.has-gradient-to-right-orange {
    @include astria-button-gradient;
  }

  // Size modifiers
  &.is-tall {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  &.is-taller {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  &.is-wide {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  &.is-wider {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  // Style modifiers
  &.is-transparent {
    background-color: transparent;
    border-color: transparent;

    &:hover,
    &.is-hovered {
      background-color: transparent;
      border-color: transparent;
    }
  }

  &.is-ghost {
    &.is-outlined-light {
      border-color: $astria-grey-dark;

      &:disabled {
        background-color: transparent;
        border-color: $astria-grey-dark;
        cursor: not-allowed;
        opacity: 0.5;
      }
    }

    &.is-outlined-white {
      border-color: $astria-white;

      &:disabled {
        background-color: transparent;
        border-color: $astria-white;
        cursor: not-allowed;
        opacity: 0.5;
      }
    }

    &:hover,
    &.is-hovered {
      text-decoration: none !important;
    }

    &:focus,
    &.is-focused {
      box-shadow: none;
    }
  }
}

.connect-wallet-button-container .button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .connect-wallet-button-inner {
    display: flex;
  }
}