@import './astria-colors';

.error-card {
  background-color: $astria-error-lighter;
  border-color: $astria-error-light;
  color: $astria-error-dark;

  * {
    color: $astria-error-dark;
  }
}

.card {
  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  a.disabled {
    pointer-events: none;
  }

  background: radial-gradient(144.23% 141.13% at 50.15% 0%, #221F1F 0%, #050A0D 100%);
  box-shadow: 1px 1px 1px -1px hsla(0, 0%, 100%, 0.5) inset;

  .card-header > .card-header-inner {
    width: 100%;
  }

  &.is-fuzzy-bottomed {
    background: radial-gradient(100% 100% at 50.15% 0%, #221F1F 0%, #050A0D 100%);
  }

  .card-content {
    .is-ghost {
      &:hover, &.is-hovered {
        text-decoration: none;
      }

      &:focus, &.is-focused {
        box-shadow: none;
      }
    }
  }

  & .card-spacer {
    border-top: 1px $astria-white solid;
    margin: 1rem 0;
    width: 100%;
  }

  .card-footer {
    border-top: none;
    box-shadow: none;
  }

  .tabs.is-fullwidth.is-large {
    ul {
      li {
        // Default tab styles
        a {
          color: $astria-grey-dark;
          border-bottom: 2px solid transparent;
          transition: all 0.3s ease;
        }

        &.is-active {
          a {
            color: $astria-white; // Assuming you have a primary color defined
            border-bottom-color: $astria-white;
            font-weight: bold;
            position: relative;

            &::after {
              content: '';
              position: absolute;
              bottom: -2px;
              left: 0;
              width: 100%;
              height: 2px;
              background: linear-gradient(to right, transparent, $astria-white, transparent);
            }
          }
        }

        &:hover:not(.is-active) {
          a {
            color: darken($astria-white, 15%);
            border-bottom-color: rgba($astria-white, 0.3);
          }
        }
      }
    }
  }

}

.wallet-provider-card {
  & .card-content {
    & .button {
      margin-right: 0.5rem;

      &.is-tall img {
        height: 40px;
        width: 40px;
        margin-right: 0.5rem;
      }
    }

    & .wallet-provider-icon {
      height: 40px;
      width: 40px;
    }
  }
}
