@import './astria-colors';

.error-card {
  background-color: $astria-error-lighter;
  border-color: $astria-error-light;
  color: $astria-error-dark;

  * {
    color: $astria-error-dark;
  }
}

.card {
  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  a.disabled {
    pointer-events: none;
  }

  background: radial-gradient(144.23% 141.13% at 50.15% 0%, #221F1F 0%, #050A0D 100%);
  box-shadow: 1px 1px 1px -1px hsla(0, 0%, 100%, 0.5) inset;

  .card-header > .card-header-inner {
    width: 100%;
  }

  &.is-fuzzy-bottomed {
    background: radial-gradient(100% 100% at 50.15% 0%, #221F1F 0%, #050A0D 100%);
  }

  .card-content {
    .is-ghost {
      &:hover, &.is-hovered {
        text-decoration: none;
      }

      &:focus, &.is-focused {
        box-shadow: none;
      }
    }
  }

  & .card-spacer {
    border-top: 1px $astria-grey-dark solid;
    margin: 1rem 1rem;
    width: 100%;
  }

  .card-footer {
    border-top: none;
    box-shadow: none;
  }

  .tabs.is-fullwidth {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 4px;
    width: 100%;
    height: 70px;
    background: rgba(255, 255, 255, 0.04);
    border-width: 1px 0px 0px 1px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.2);
    border-radius: 12px;

    ul {
      border: transparent;

      li {
        a {
          padding: 16px 24px;
          border-bottom: none;
          color: $astria-grey-dark;
          transition: all 0.1s ease-in;
        }

        &.is-active {
          a {
            color: $astria-white;
            font-weight: bold;
            position: relative;
            background: radial-gradient(100% 100% at 50.15% 0%, #221f1f 0%, #050a0d 100%);
            box-shadow: inset 3px 3px 3px -3px rgba(255, 255, 255, 0.5);
            border-radius: 12px;
          }
        }

        &:hover:not(.is-active) {
          a {
            color: darken($astria-white, 15%);
          }
        }
      }
    }
  }
}

.wallet-provider-card {
  & .card-content {
    & .button {
      margin-right: 0.5rem;

      &.is-tall img {
        height: 40px;
        width: 40px;
        margin-right: 0.5rem;
      }
    }

    & .wallet-provider-icon {
      height: 40px;
      width: 40px;
    }
  }
}
