@import './dropdown-overrides.scss';

.dropdown {
  width: 100%;

  &.is-active > .dropdown-trigger > button {
    border-color: $dropdown-divider-background-color;
  }

  .dropdown-trigger {
    width: 100%;

    .button {
      width: 100%;
      background-color: transparent;
      color: $dropdown-item-color;
      justify-content: flex-start;

      span {
        color: $dropdown-placeholder-color;

        > i {
          color: $dropdown-item-color;
        }

        &.icon-left {
          height: 20px;
        }

        &.icon-right {
          margin-left: auto;
        }
      }
    }
  }

  &.is-disabled {
    .dropdown-trigger {
      .button {
        background-color: transparent;
        opacity: 0.5;
      }
    }
  }

  .dropdown-menu {
    width: 100%;
    background: radial-gradient(144.23% 141.13% at 50.15% 0%, #221F1F 0%, #050A0D 100%);
    border: #3B7D4F;

    .dropdown-content {
      background: radial-gradient(144.23% 141.13% at 50.15% 0%, #221F1F 0%, #050A0D 100%), #1E1D1D;
      border: 1px solid rgba(255, 255, 255, 0.1);
      box-shadow: inset 1px 1px 1px -1px rgba(255, 255, 255, 0.5);
      border-radius: 16px;
      padding: 0.5rem;

      .dropdown-item {
        display: flex;
        padding: 0;
        background-color: transparent;
        border: 1px $dropdown-divider-background-color;
        cursor: pointer;
        width: 100%;

        .dropdown-item-inner {
          display: flex;
          align-items: center;
          width: 100%;
          padding: 1rem 0.5rem;
          border-radius: 12px;
          transition: background-color 0.3s ease;

          &:hover {
            background: rgba(255, 255, 255, 0.05);
          }
        }

        &.additional-dropdown-item {
          .dropdown-item-inner {
            justify-content: space-between;

            .dropdown-item-label {
              flex-grow: 1;
            }

            .icon-right {
              //margin-left: auto;
            }
          }
        }

        span {
          color: $dropdown-item-color;
        }
      }
    }
  }
}
