@import './astria-colors';

$dropdown-content-background-color: $astria-black;

$dropdown-item-color: $astria-text-light;
$dropdown-item-hover-color: $astria-text-light;
$dropdown-item-hover-background-color: $astria-black;
$dropdown-item-active-color: $astria-text-light;
$dropdown-item-active-background-color: $astria-black;
$dropdown-divider-background-color: $astria-grey-light;

