@import 'astria-colors';

div.control > input {
  color: $astria-text-light;
}

input.is-outlined-white {
  border-color: $astria-white;
}

.field {
  .label-left {
    margin-right: 1rem;
    min-width: 70px;
    @include mobile {
      min-width: 60px;
    }
  }

  .field-info-box {
    background: $astria-grey-dark;
    border-radius: 12px;
  }
}
