@import 'astria-colors.scss';

// custom astria icons

i.i-arrow-up-arrow-down {
  // this was downloaded from figma
  background-image: url('../../public/assets/icons/arrow-up-arrow-down.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  width: 100%;
}

i.i-wallet {
  // this was downloaded from figma
  background-image: url('../../public/assets/icons/wallet.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  width: 100%;
}

i.i-celestia {
  // this was downloaded from figma
  background-image: url('../../public/assets/icons/logos/celestia-logo-color.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  width: 100%;
}

i.i-keplr {
  // this was downloaded from figma
  background-image: url('../../public/assets/icons/logos/keplr-logo-color.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  width: 100%;
}

i.i-flame {
  // this was downloaded from figma
  background-image: url('../../public/assets/icons/logos/flame-logo-color.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  width: 100%;
}

i.i-noble {
  background-image: url('../../public/assets/icons/logos/noble-logo-color.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  width: 100%;
  // crop to circle
  border-radius: 50%;
}

i.i-usdc {
  background-image: url('../../public/assets/icons/logos/usdc-logo-color.svg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  width: 100%;
}

i.i-milk-tia {
  background-image: url('../../public/assets/icons/logos/milk-tia-logo-color.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  width: 100%;
}

i.i-stride {
  background-image: url('../../public/assets/icons/logos/stride-logo-color.svg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  width: 100%;
}

i.i-stride-tia {
  background-image: url('../../public/assets/icons/logos/stride-tia-logo-color.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  width: 100%;
}

i.i-osmosis {
  background-image: url('../../public/assets/icons/logos/osmosis-logo-color.svg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  width: 100%;
}
