html, body {
  height: 100vh;
}

// fonts
@import 'fonts';
// custom styles
@import 'icons';

// astria bulma overrides override bulma variables
// NOTE - scss variable overrides must be imported BEFORE bulma,
//  so that the overriden variables are used in the bulma sass
@import 'astria-colors';
@import 'button-overrides';
@import 'card-overrides';
@import 'dropdown-overrides';
@import 'footer-overrides';
@import 'form-overrides';
@import 'modal-overrides';
@import 'toast-overrides';

// bulma
@import '../../node_modules/bulma/bulma';
@import '../../node_modules/bulma/sass/utilities/initial-variables';
@import '../../node_modules/bulma/sass/components/navbar';
@import '../../node_modules/@creativebulma/bulma-tooltip/dist/bulma-tooltip';
// NOTE - responsive-spacing-mixins weren't needed for v0, but i'm leaving them b/c
// i think they'll quickly be needed for v1
//@import 'responsive-spacing-mixins';
@import 'fixed-widths';

// astria bulma customizations override bulma classes
// NOTE - these css customizations must be imported AFTER bulma to override the css classes
@import 'button-customizations';
@import 'card-customizations';
@import 'columns-customizations';
@import 'dropdown-customizations';
@import 'footer-customizations';
@import 'form-customizations';
@import 'modal-customizations';
@import 'navbar-customizations';
@import 'toast-customizations';

@import 'connect-evm-wallet-button';

// body reset
body {
  margin: 0;
  padding: 0;
  background-color: $astria-black;
}

.is-fullheight-with-navbar-and-footer {
  // viewport height minus navbar and footer height
  min-height: calc(100vh - 85px - 96px);
}

// custom styles for the side tag component
.side-tag {
  position: absolute;
  top: 50%;
  right: 0;
  background-color: $astria-orange-soft;
  color: $astria-white;
  font-size: 0.75rem;
  font-weight: 700;
  transform: translateX(40px) rotate(-90deg);
  overflow: hidden;

  @include mobile {
    top: 75%;
  }

  .side-tag-link {
    display: flex;
    align-items: center;
    padding: 0.5rem 0.75rem;
    color: $astria-white;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
      color: $astria-white;
    }
  }

  .icon {
    margin-right: 0.5rem;

    i {
      font-size: 1rem;
    }
  }

  .label {
    white-space: nowrap;
  }
}

/**
 * Animations
 */
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fade-out {
  animation-name: fadeOut;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.75);
  }
  100% {
    transform: scale(1);
  }
}

.icon-pulse {
  animation-name: pulse;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.icon-pulse-slow {
  animation-name: pulse;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.is-text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
