@import 'astria-colors';

$modal-card-head-background-color: transparent;
$modal-card-body-background-color: transparent;
$modal-card-head-radius: 12px;
$modal-card-foot-radius: 12px;
$modal-card-head-border-bottom: 0;
$modal-card-foot-border-top: 0;
