.modal-card {
  background: radial-gradient(100% 100% at 50.15% 0%, #221F1F 0%, #050A0D 100%);
  box-shadow: 1px 1px 1px -1px hsla(0, 0%, 100%, 0.5) inset;
  border-radius: 12px;

  .modal-card-head {
    // had to use !important to override the info class
    background: transparent !important;
  }

  .card {
    background: transparent;
    box-shadow: none;
  }
}
