@import 'astria-colors';

$astria-orange-navbar: #CB513F;
$astria-orange-navbar-soft: #EA9B57;

// using this in ::after instead of border-bottom
@mixin navbar-item-active-border-bottom {
  content: '';
  position: absolute;
  bottom: -22px;
  left: 50%;
  transform: translateX(-50%);
  width: 85%;
  height: 4px;
}

.navbar {
  background-color: transparent;
  padding: 1rem 2rem;
  border-bottom: 1px solid $astria-grey-dark;

  // NOTE - we change some styles for navbar-burger so that we
  // can show the network selector and wallet connector correctly
  .navbar-burger {
    @include touch {
      margin-left: 0;
    }
  }

  // NOTE - we change some styles for navbar-end so that we
  // can show the network selector and wallet connector correctly
  .navbar-end {
    display: flex;
    align-items: center;

    @include touch {
      margin-left: auto;
    }
  }

  @include mobile {
    padding: 0;
  }

  .navbar-menu {
    .navbar-middle {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-grow: 1;
    }

    a.navbar-item {
      color: $astria-grey-light;

      &:focus-within, &:hover {
        &::after {
          @include navbar-item-active-border-bottom;
          background: $astria-grey-light;
        }
      }

      &.is-active {
        color: $astria-white;

        &::after {
          @include navbar-item-active-border-bottom;
          background: linear-gradient(83.18deg, $astria-orange-navbar-soft, $astria-orange-navbar);
        }
      }
    }

    &.navbar-menu-dropdown.is-active {
      background: none;
      border: none;
      box-shadow: none;

      .navbar-middle {
        display: block;
        background: none;

        .navbar-item {
          &:focus-within, &:hover, &.is-active {
            color: $astria-white;
            background: none;
            box-shadow: none;
            border: none;
            // no bottom border gradient for active items in dropdown
            &::after {
              content: none;
            }
          }
        }
      }
    }

  }

  .navbar-placeholder-end {
    width: 185px;
  }
}
